Repository patternfly/patternfly-org, pull requests merged in 2019-05, with the labels that each got.

#1017 Properly handle prefixed paths in framework switcher
  packages/patternfly-4/src/components/switcher/index.js
Labels: bug

#1119 add google analytics support
  packages/patternfly-4/gatsby-config.js
  packages/patternfly-4/package.json
  yarn.lock
Labels: PF4 DEV, PF4 website issue

#1125 Content refinement for designers get started
  packages/patternfly-4/content/get-started/gettingstarted-design.md
Labels: Content, PF4 website issue

#1126 content update to lists/tables - add sortable table
  packages/patternfly-4/content/design-guidelines/usage-and-behavior/lists-and-tables/design.md
  packages/patternfly-4/content/design-guidelines/usage-and-behavior/lists-and-tables/img/sortable-data-table.png
  packages/patternfly-4/content/design-guidelines/usage-and-behavior/lists-and-tables/img/standard-data-table.png
Labels: Content
