Repository patternfly/patternfly-org, pull requests merged in 2020-11, with the labels that each got.

#2253 Removing moment.js from "Numerics" localization library suggestions
  packages/v4/src/content/design-guidelines/content/numerics.md
Labels: Content, UX writing style guide

#2243 Chore/1723 add GitHub link
  packages/theme-patternfly-org/components/footer/footer.js
  packages/theme-patternfly-org/layouts/sideNavLayout/sideNavLayout.css
  packages/theme-patternfly-org/layouts/sideNavLayout/sideNavLayout.js
  packages/v4/src/pages/home.js
Labels: design review needed

#2269 Callout phrasing edit
  packages/v4/src/content/contribute/design-guidelines/design-guidelines.md
Labels: Content

#2282 Adding guidance for relative URLs to "Writing design guidelines"
  packages/v4/src/content/design-guidelines/content/writing-design-documentation.md
Labels: Content, PF4 design Guidelines, UX writing style guide
