Repository patternfly/patternfly-org, pull requests merged in 2022-11, with the labels that each got.

#3256 docs(Menu): add accessibility documentation
  packages/v4/patternfly-docs/content/accessibility/menu/menu.md
Labels: accessibility

#3262 Timestamp Documentation CLEAN
  packages/v4/patternfly-docs/content/design-guidelines/components/timestamp/img/timestamp-24-hour-format.png
  packages/v4/patternfly-docs/content/design-guidelines/components/timestamp/img/timestamp-Abbreviated-date.png
  packages/v4/patternfly-docs/content/design-guidelines/components/timestamp/img/timestamp-elements.png
  packages/v4/patternfly-docs/content/design-guidelines/components/timestamp/img/timestamp-using-am-pm.png
  packages/v4/patternfly-docs/content/design-guidelines/components/timestamp/timestamp.md
Labels: docs, NEW guideline, hacktoberfest, good first issue

#3265 docs(MenuToggle): add accessibility documentation
  packages/v4/patternfly-docs/content/accessibility/menu-toggle/menu-toggle.md
Labels: accessibility

#3247 docs(Progress): add accessibility documentation
  packages/v4/patternfly-docs/content/accessibility/progress/progress.md
Labels: accessibility

#3281 chore(Breadcrumb): updated a11y docs
  packages/v4/patternfly-docs/content/accessibility/breadcrumb/breadcrumb.md
Labels: docs, accessibility

#3287 chore(Button): updated a11y docs
  packages/v4/patternfly-docs/content/accessibility/button/button.md
Labels: docs, accessibility
