Repository patternfly/patternfly-org, pull requests merged in 2023-10, with the labels that each got.

#3760 docs(release-highlights): creates q3 release highlights.
  packages/documentation-site/patternfly-docs/content/get-started/release-highlights.md
Labels: Content

#3667 docs(flex): expands design guidelines for flex layout.
  packages/documentation-site/patternfly-docs/content/design-guidelines/layouts/flex.md
  packages/documentation-site/patternfly-docs/content/design-guidelines/layouts/img/flex-example.png
Labels: Content, PF5 Design guidelines

#3699 docs(typography): updates typography guidelines as part of content audit
  packages/documentation-site/patternfly-docs/content/design-guidelines/styles/typography/typography.js
  packages/documentation-site/patternfly-docs/content/design-guidelines/styles/typography/typography.md
Labels: Content

#3766 Update alerts design guidelines
  packages/documentation-site/patternfly-docs/content/design-guidelines/components/alert/alert.md
  packages/documentation-site/patternfly-docs/content/design-guidelines/components/alert/img/inline-alert-modal-with-existing-alert.png
  packages/documentation-site/patternfly-docs/content/design-guidelines/components/alert/img/inline-alert-modal-with-link-one.png
  packages/documentation-site/patternfly-docs/content/design-guidelines/components/alert/img/inline-alert-modal-with-link-two.png
  packages/documentation-site/patternfly-docs/content/design-guidelines/components/alert/img/inline-alert-page-level-with-link-one.png
  packages/documentation-site/patternfly-docs/content/design-guidelines/components/alert/img/inline-alert-page-level-with-link-two.png
  packages/documentation-site/patternfly-docs/content/design-guidelines/components/alert/img/no-alert-for-confirmation-modal.png
Labels: PF5 Design guidelines
