Repository patternfly/patternfly-org, pull requests merged in 2024-09, with the labels that each got.

#4247 chore: Enable release for patternfly-org
  .github/release.sh
Labels: infrastructure

#4192 docs(switch): Updates design guidelines.
  packages/documentation-site/patternfly-docs/content/design-guidelines/components/switch/img/switch-check-1.png
  packages/documentation-site/patternfly-docs/content/design-guidelines/components/switch/img/switch-check-2.png
  packages/documentation-site/patternfly-docs/content/design-guidelines/components/switch/img/switch-check-3.png
  packages/documentation-site/patternfly-docs/content/design-guidelines/components/switch/img/switch-do-dont.png
  packages/documentation-site/patternfly-docs/content/design-guidelines/components/switch/img/switch-elements.png
  packages/documentation-site/patternfly-docs/content/design-guidelines/components/switch/img/switch-form.png
  packages/documentation-site/patternfly-docs/content/design-guidelines/components/switch/img/switch-intermediate.png
  packages/documentation-site/patternfly-docs/content/design-guidelines/components/switch/img/switch-masthead.png
  packages/documentation-site/patternfly-docs/content/design-guidelines/components/switch/img/switch-multiple-independent.png
  packages/documentation-site/patternfly-docs/content/design-guidelines/components/switch/img/switch.png
  packages/documentation-site/patternfly-docs/content/design-guidelines/components/switch/switch.md
Labels: Content

#4208 docs(icons): Updates severity icon colors.
  packages/documentation-site/patternfly-docs/content/design-guidelines/styles/icons/icons.js
Labels: Content

#4207 docs(icons): Adds severity icons.
  packages/documentation-site/patternfly-docs/content/design-guidelines/styles/icons/icons.js
Labels: Content

#4250 chore: Updated to release to staging for aws instead of v6 staging.
  .github/upload-staging.sh
  README.md
  lerna.json
  packages/documentation-framework/layouts/sideNavLayout/sideNavLayout.js
Labels: bug
